[Desktop Entry]
Encoding=UTF-8
Name=Rubik Core
Comment=Rubik P2P Cryptocurrency
Comment[de]=Verbinde mit dem Rubik peer-to-peer Netzwerk
Comment[fr]=Rubik, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Rubik, eşten eşe kriptografik sanal para birimi
Exec=rubik-qt %u
Terminal=false
Type=Application
Icon=rubik128
MimeType=x-scheme-handler/rubik;
Categories=Office;Finance;
