[Unit]
Description=Rubik's distributed currency daemon
After=network.target

[Service]
User=rubikcore
Group=rubikcore

Type=forking
PIDFile=/var/lib/rubikd/rubikd.pid
ExecStart=/usr/bin/rubikd -daemon -pid=/var/lib/rubikd/rubikd.pid \
-conf=/etc/rubikcore/rubik.conf -datadir=/var/lib/rubikd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
